<div class="container" ng-controller="assignmentCtrl">
  <h3>Assignment</h3>
	<div class="btn-group">
  		<button type="button" ng-click="btnSearch()" class="btn btn-primary">Search</button>
  		<button type="button" ng-click="btnAdd()" class="btn btn-primary">Add</button>
  
	</div>
	
	<div class="searchAssignment" ng-show="searchAssignmentShow">
	<p>Search</p>
		<table>
			<tr>
				<th>Entity</th>
				<th>Type</th>
				<th>Quantity</th>
				<th>User_Id</th>
				<th>Date_Of_Assignment</th>
				<th>Date_Of_Expiry</th>
				
			
			</tr>
		  <tr ng-repeat="x in assignment">
		  	
		    <td>{{ x. entity }}</td>
		    <td>{{ x. type }}</td>
		    <td>{{ x. qty }}</td>
		    <td>{{ x.uid}}</td>
		    <td>{{ x. doa }}</td>
		    <td>{{ x. doa }}</td>
		    
		    <td>
		    <button type="button" ng-click="DeleteAssignment(x)" class="btn btn-default"><span class="	glyphicon glyphicon-trash"></span></button>
            <button type="button" ng-click="EditAssignment(x)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
		    
		   
		    </td>
		  </tr>
		</table>
	
	</div>
  	
  	
  	<div class="addAssignment" ng-show="addAssignmentShow">
  	
  		<p>Add</p>
  		<form class="form-horizontal" role="form" ng-submit="AddNewAssignment()">
  		
  		
  		
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="entity">Entity:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="entity" placeholder="Enter entity name" ng-model="newassignment.entity">
		    </div>
		  </div>
		  
		  
		    
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="type"> Type:</label>
		    <select ng-model="newassignment.type">
			    <option value="">
			    <option value="software">software
			    <option value="hardware">hardware
			    
			</select>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="qty">Quantity:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="qty" placeholder="Enter quantity" ng-model="newassignment.qty">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="uid">User_Id:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="fname" placeholder="Enter user_id" ng-model="newassignment.uid">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="doa">DOA:</label>
		    <div class="col-sm-10">
		      <input type="date" class="form-control" id="doa" placeholder="Enter date of arrival"  ng-model="doa">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="doe">DOE:</label>
		    <div class="col-sm-10">
		      <input type="date" class="form-control" id="doe" placeholder="Enter date of expiry" ng-model="newassignment.doe">
		    </div>
		  </div>
		  
		
		  
		
		  
		  
		    <div class="form-group"> 
		    <div class="col-sm-offset-1 col-sm-5">
		      <button type="reset" class="btn btn-default">Reset</button>
		    </div>
		  </div>
		 
		  
		  <div class="form-group"> 
		    <div class="col-sm-offset-1 col-sm-5">
		      <button type="submit" class="btn btn-default" >Submit</button>
		    </div>
		  </div>
		</form>
  	
  	</div>
  	
  	<div class="updateUser" ng-show="updateUserShow">
  	
  		<p>Add</p>
  		<form class="form-horizontal" role="form" ng-submit="UpdateUser()">
  		
  		
  		
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="fname">First Name:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control"  placeholder="Enter firstname" ng-model="updateuser.fname">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="lname">Last Name:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control"  placeholder="Enter lastname" ng-model="updateuser.lname">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="email">Email:</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control"  placeholder="Enter email" ng-model="updateuser.email">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="dob">DOB:</label>
		    <div class="col-sm-10">
		      <input type="date" class="form-control"  placeholder="Enter DOB"  ng-model="dob">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="uname">User Name:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control"  placeholder="Enter username" ng-model="updateuser.uname">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="pwd">Password:</label>
		    <div class="col-sm-10"> 
		      <input type="password" class="form-control"  placeholder="Enter password" ng-model="updateuser.pwd">
		    </div>
		  </div>
		  
		  
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="pwd">User Type:</label>
		    <select ng-model="updateuser.utype">
			    <option value="">
			    <option value="admin">Admin
			    <option value="employee">Emplyoee
			    
			</select>
		  </div>
		  
		  
		    <div class="form-group"> 
		    <div class="col-sm-offset-1 col-sm-5">
		      <button type="reset" class="btn btn-default">Reset</button>
		    </div>
		  </div>
		 
		  
		  <div class="form-group"> 
		    <div class="col-sm-offset-1 col-sm-5">
		      <button type="submit" class="btn btn-default" >Update</button>
		    </div>
		  </div>
		</form>
  	
  	
  	</div>
  	
 </div>