
<p>rem Ipsum is simply dummy text of the printing and <br> 
typesetting industry. Lorem Ipsum has been the industry's <br>standard dum<br>my text ever since <br>the 1500s, when an unk<br>nown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
