<div class="container" ng-controller="usersCtrl">
  <h3>Users</h3>
	<div class="btn-group">
  		<button type="button" ng-click="btnSearch()" class="btn btn-primary">Search</button>
  		<button type="button" ng-click="btnAdd()" class="btn btn-primary">Add</button>
  
	</div>
	
	<div class="searchUser" ng-show="searchUserShow">
		<table>
		  <tr ng-repeat="x in users">
		    <td>{{ x.username }}</td>
		    <td>{{ x.password }}</td>
		  </tr>
		</table>
	
	</div>
  	
  	
  	<div class="addUser" ng-show="addUserShow">
  	
  		<p>add</p>
  	
  	</div>
 </div>